
:root {
  --lightest:#FFCDB2;
  --light: #FFB4A2;
  --medium: #E5989B;
  --dark: #B5838D;
  --darkest: #6D6875;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(106deg, #B5838D, transparent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(249, 240, 246, 0),
      hsla(307, 8%, 23%, 0.567)
  )!important;
}